<ion-view view-title="Editar Produto">
	<ion-content>
		<div class="list card">
			<div class="item item-input">
				<input type="text" placeholder="Nome"
					ng-model="produto.nome">
			</div>
			<div class="item item-input">
				<textarea rows="5" placeholder="Descrição"
					ng-model="produto.descricao"></textarea>
			</div>
			<div class="item item-input">
				<input type="number" placeholder="Preço"
					ng-model="produto.preco"></textarea>
			</div>
		</div>
		<div class="padding">
			<button class="button button-block button-positive"
				ng-click="save()">Salvar</button>
			<button class="button button-block button-positive"
				ng-click="voltar()">Voltar</button>
		</div>
	</ion-content>
</ion-view>